<div class="page-header">
  <h1>
    Places
    <a href="/places/new" class="btn btn-lg btn-success">New Place</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <th>Address</th>
        <th>Name</th>
        <th>Comment</th>
        <th>Neighborhood</th>
        <th>Actions</th>
      </tr>

      <% @places.each do |place| %>
      <tr>
        <%if current_user.id == place.user_id  %>
        <td><%= place.address %></td>
        <td><%= place.name %></td>
        <td><%= place.comment %></td>
        <td><%= place.neighborhood %></td>
        <td>
          <a href="/places/<%= place.id %>" class="btn btn-primary">Show</a>
          <a href="/places/<%= place.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_place/<%= place.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
        <%else %>
        <%end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
