<div class="page-header">
  <h3><%= @place.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Tags <br>(click to remove)</dt>
      <dd>
        <% @place.taggeds.each do |place| %>
        <a href="/delete_tagged/<%= place.id %>" class="btn btn-sm btn-success"><%= place.tag.name %></a>
        <% end %>
      </dd>
      <dt>Address</dt>
      <dd><%= @place.address %></dd>
      <dt>Neighborhood</dt>
      <dd><%= @place.neighborhood %></dd>
      <dd><iframe width="300" height="300" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAYt4gYdB99I9YDjmH_7xkrTxA2aS7Dz7E&q=<%= @place.address %>"
        allowfullscreen>
      </iframe></dd>


      <dt>Comments</dt>
      <dd><%= @place.comment %></dd>



      <dt>Addable Tags <br>(click to add)</dt>

      <dd>
        <% @tags.each do |tag| %>
        <a href="/create_tagged/<%= @place.id%>/<%= tag.id%>" class="btn btn-sm btn-success"><%= tag.name %></a>
        <% end %>
      </dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/places" class="btn btn-primary">
        Back
      </a>
      <a href="/places/<%= @place.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_place/<%= @place.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
